.mat-card{
    margin-top: 10vh;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5vh;
    padding-bottom: 7vh;
    margin-bottom: 10vh;
}

.mat-form-field{
    width: 100%;
}

button{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

form{
    padding: 5%;
}

@media (max-width: 1300px){
    tr{
        display: grid;
        width: 100%;
    }

    table{
        display: block;
    }
}

@media (max-width: 755px){
    .mat-card{
        margin-top: 6vh;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 420px){
    .mat-card{    
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5vh;
    }
}