<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="patientId">
        <th mat-header-cell *matHeaderCellDef>Patient Id</th>
        <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName +' '+ element.lastName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="report">
        <th mat-header-cell *matHeaderCellDef> Report </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary">Update Status</button> </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="final">
        <th mat-header-cell *matHeaderCellDef> Final Report </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent">Final Report</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>