<mat-card style="padding-top: 3vh;" class="mat-elevation-z4">
    <h1 style="text-align: center;">Your Physical and Health Report</h1>
    <h4 style="text-align: center;">Please provide accurate information for better analysis of your health quotient</h4>
    <form [formGroup]="physicalAndHealthForm" [style.fontSize.px]="12">
        <table style="text-align: center;">
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Height</mat-label>
                        <input type="number" matInput placeholder="in cm" formControlName="heightCm">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Weight</mat-label>
                        <input type="number" matInput placeholder="in kg" formControlName="weightKg">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Age</mat-label>
                        <input type="number" matInput placeholder="Age" formControlName="age">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Travel in last 15 days</mat-label>
                        <mat-select formControlName="travelIn15Days">
                            <mat-option value="true">
                                True
                            </mat-option>
                            <mat-option value="false">
                                False
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <div formArrayName="travelHistory">
            <div *ngFor="let travel of physicalAndHealthForm.get('travelHistory')['controls']; let i=index">
                <div class="form-group" [formGroupName]="i">
                    <h3 style="text-align: left;">Travel {{i+1}}</h3> 
                    
                    <mat-form-field appearance="outline">  
                        <mat-label>Date Of Travel</mat-label>                                    
                        <input formControlName="dateOfTravel" type="date" matInput />                                     
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">  
                        <mat-label>From Place</mat-label>                                    
                        <input formControlName="fromPlace" matInput />                                     
                    </mat-form-field>

                    <mat-form-field appearance="outline">  
                        <mat-label>To Place</mat-label>                                    
                        <input formControlName="toPlace" matInput />                                     
                    </mat-form-field>

                    <mat-form-field appearance="outline">  
                        <mat-label>Stay Duration In Days</mat-label>                                    
                        <input formControlName="stayDurationInDay" type="number" matInput />                                     
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div style="margin: 0; padding-bottom: 2rem; text-align: center;">
            <button type="button" mat-raised-button class="btn btn-primary"  
            *ngIf="physicalAndHealthForm.get('travelHistory')['controls'].length>1" 
            (click)="removeTravel(physicalAndHealthForm.get('travelHistory')['controls'].length-1)" color="warn">Remove Travel</button>
            <button type="button" mat-raised-button class="btn btn-primary" color="primary" (click)="addTravel()">Add Travel</button>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Quarantine In Last 15 Days</mat-label>
            <input type="number" matInput placeholder="Quarantine In Last 15 Days" formControlName="quarantineIn15Days">
        </mat-form-field>

        <mat-checkbox (click)="symptomStatusToggle()"><h3 style="margin: 0 0 0 0 !important;">Any Covid-19 related symptoms</h3></mat-checkbox>

        <h3 *ngIf="symptomStatus">Symptoms</h3>
        <div *ngIf="symptomStatus">
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Cough</mat-label>
                            <mat-select formControlName="cough">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Cold</mat-label>
                            <mat-select formControlName="cold">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Throat Pain</mat-label>
                            <mat-select formControlName="throatPain">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                
            </table>
        </div>
        
        <h3 style="margin-top: 1rem !important;">Existing Disease</h3>
        <div>
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Blood Pressure</mat-label>
                            <mat-select formControlName="bloodPressure">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Diabetes</mat-label>
                            <mat-select formControlName="diabetes">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Lung Disease</mat-label>
                            <mat-select formControlName="lungDisease">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Heart Patient</mat-label>
                            <mat-select formControlName="heartPatient">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>

        <h3 style="margin-top: 1rem !important;">Medical History</h3>
        <div>
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Bone Fracture</mat-label>
                            <mat-select formControlName="boneFracture">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Accidental History</mat-label>
                            <mat-select formControlName="accidentalHistory">
                                <mat-option value="Y">
                                    Yes
                                </mat-option>
                                <mat-option value="N">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        
        <h3 style="margin-top: 1rem !important;">Habits</h3>
        <div>
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Work Type</mat-label>
                            <mat-select formControlName="workType">
                                <mat-option value="Physical">
                                    Physical
                                </mat-option>
                                <mat-option value="Official">
                                    Official
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Junk Food Consumption Frequency (Rate 1 - 21 per week)</mat-label>
                            <input type="number" matInput placeholder="between 1 - 21" formControlName="junkFoodConsumptionFreq" min="1" max="21" value="1">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Exercise Duration Per Day</mat-label>
                            <input type="number" matInput placeholder="in hours" formControlName="exerciseDurationPerDay">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <mat-checkbox formControlName="medicalInsurance"><h3 style="margin: 1rem 0 0 0 !important;">Medical Insurance</h3>Select if you have Medical Insurance</mat-checkbox>
        <br>
        <mat-checkbox (click)="agreementToggle()"><h3 style="margin: 1rem 0 0 0 !important;">I AGREE</h3> The information i have provided is correct</mat-checkbox>

        <div style="margin: 0; padding-bottom: 2rem; text-align: center;">
            <button type="submit" mat-raised-button color="primary" [style.fontSize.px]="16" (click)="registerHealthAndPhysicalData(physicalAndHealthForm.value)" *ngIf="agreementStatus">Register</button>
            <button type="reset" mat-raised-button color="accent" [style.fontSize.px]="16">Cancel</button> 
        </div>
    </form>
</mat-card>